#glowny 
{
	height: 550px;
	width: 1000px;
	border: solid;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: monospace;
	font-size:40px
	
}

.zegar
{
	height:146px;
	width:498px;
	float:left;
	border-bottom:solid 4px;
	
}

#zegarA
{
	border-right:solid 4px;
	background-color:#708090;
}   

#zegarB
{
	background-color:#00FF7F;
}

.pojemnik
{
	height: 196px;
	width: 330px;
	background-color:blue;
	float:left;
	border-bottom: solid 4px;
}

#pojemnikA
{
	border-right:solid 4px;
	background-color:#00FFFF;
}
#pojemnikB
{
	border-right:solid 4px;
	background-color:#FFD700;
}
#pojemnikC
{
	width:332px;
	background-color:#E9967A;
}
.pojemnikDNI
{
	height: 200px;
	width: 330px;
	float:left;
}
#pojemnikdniA
{
	border-right:solid 4px;
	background-color:#1E90FF;
}
#pojemnikdniB
{
	border-right:solid 4px;
	background-color:#DAA520;
}
#pojemnikdniC
{
	width:332px;
	background-color:#9ACD32;
}